
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: "Kanit", sans-serif;
}

header{
    background: black;
    color:white;
    padding: 20px;
}
.headerContainer{
    display: flex;
    margin-left: -115px;
    align-items: center;
    justify-content: space-around;
}
.logo{
    padding: 10px;
}
.logo a{
    text-decoration:none;
}
.logo h1:hover{
    color:white;
}
.logo h1{
   font-weight: bolder;
   text-transform: uppercase;
   font-size: 23px;
   font-style: italic;
   color: #00BCD4;
}
.logo span{
    /* margin-top: 49px; */
    /* margin-top: 41px; */
    top: -11px;
    position: relative;
    font-size: 13px;
    color:white;
}

.menu ul{
    display: flex;
    gap: 20px; 
 
}
.menu ul li{
    list-style:none;
  
}
.menu ul li a{
    text-decoration:none;
    color:white;

}
.menu ul li a:hover{
    color: #00BCD4;
}
.hero{
    background:url("../img/bd.png");
    background-size:cover;
    color:white;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.heroContent{
  text-align: center;
  padding:20px;
  position: relative;
  top: 102px;
  font-family: sans-serif;
}
.heroContent h3{
    font-size: 41px;
    padding: 10px;
    letter-spacing: 1px;
    line-height: -1px;
    text-transform: capitalize;
    font-weight: 700;
    font-style: normal;
    font-weight: 700;
}
.heroContent h1{
    font-size:40px;
    font-weight:800;
    letter-spacing: 2px;
    padding: 0px;
    text-transform: uppercase;
}
.heroSubHeader{
    font-size:40px;
    font-weight: bolder;
    padding:10px;
    text-transform: uppercase;
    color:#00BCD4
}
.heroContent p{
    font-weight: 100;
    padding: 10px;
    line-height: 34px;
    letter-spacing: -1px;
    color:black;
    font-family: monospace;
}
.herobtn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    margin-top: 62px;
}
.herobtn a{
    text-decoration:none;
    background: blue;
    padding: 15px;
    width: 217px;
    /* margin: 70px; */
    font-weight: bold;
    border-radius:10px;
    color:white;
    text-transform: uppercase;
}
.herobtn a:hover{
    background-color:#00BCD4;
    color:black;
    font-weight: bold;
    letter-spacing: 1px;
}

.circleSection{
    background: #ECF6FF;
    
}
.imgCircle{
    border-radius:50%;
    background-color: white;
    height: 150px;
    width: 150px;
    border:7px solid #00BCD4;
}
.imgCircle img{
    /* height: 300px; */
    margin-left: 14px;
    margin-top: 19px;
}
.pt-10 {
    padding-top: 10px;
    padding-top: 107px !important;
}
.cirleBox p{
    margin-left: -8px;
}
.course{
    background: #F6F6F6;
}
.coursDescription{
    width:850px;
    text-align: center;
    margin:0 auto;
    font-family: open-sans;
}
.courseCard{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.imgSection{
   
border: 3px solid #33b7b1cc;
   
padding: 10px 10px 59px 10px;
   
border-radius: 5px;
}
.coursetext{
    
    text-align: center;
}
.imgSection img{
   width: 100%;
}
.coursetext h3{
    font-size: 18px;
    font-weight: bold;
}
.coursetext p{
font-size: 15px;
}
.courseIconBtn{
 
    margin-top: 39px;
    width: 200px;
    display: flex;
    border-radius: 10px;
    gap: 25px;
    background: black;
    justify-content: center;
    text-decoration: none;
    margin:0 auto;
    
    font-size: 21px;
}

.courseTextBtn{
    text-decoration:none;
    
    padding: 10px;
    color: white;

}
.courseTextBtn:hover{
    background: #3765AF;
    border-radius: 10px;
    width: 200px;
    
}
/* Subcribe Section */
.SubcribeSection{
    background:#00BCD4;
    padding: 40px;
}
.subcribe{
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;
}.subcribetitle{
   text-align:center;
}
.subcrimeform{
    text-align:center;
}.messageInput{
    margin-top: 27px;
    width: 300px;
}
